<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/46a9f855ee.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Loruki</title>
</head>
<body>
  <div class="wrapper">
    <div class="skew1">
      {{>header}}
      <div class="content">
        <h3>Easier Deployment</h3>
        <p>
          Deploy web apps of all kinds from large scale enterprise APIs to static website individuals. Fill out the form to try a demo of our platform.
        </p>
        <button><a href="#">Read More</a></button>
      </div>
    </div>
    <div class="skew2">
      <div class="container2">
        <p>
          Welcome to the best platform for building applications of all types with moodern architecture and scaling
        </p>
        <div class="icons">
          <div class="icon1">
            <i class="fas fa-users"></i>
            <div class="counter" data-target="10349405"></div>
            <span>Users</span>
          </div>
          <div class="icon1">
            <i class="fas fa-server"></i>
            <div class="counter" data-target="987"></div>
            <span>TB Storage</span>
          </div>
          <div class="icon1">
            <i class="fas fa-project-diagram"></i>
            <div class="counter" data-target="2343265"></div>
            <span>Projects</span>
          </div>
        </div>
      </div>
    </div>
    <form action="">
      <div class="content">
        <div class="block1">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
        </div>
        <div class="block2">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
        </div>
        <div class="block3">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <div class="button">
          <input type="button" value="Register">
        </div>
      </div>
    </form>
  </div>
  <script src="/js/app.js" type="text/javascript"></script>
</body>
</html>



