@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --main-color: rgb(97, 47, 233);
  --text-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column
}

.header {
  display: flex;
  align-items: center;
  margin-top: 7vh;
  height: 15vh;
  background-color: var(--main-color);
  transform: skew(0deg, 5deg);
}

.header h2 {
  color: var(--text-color);
  margin-left: 3vw;
  width: 150px;
  font-size: 50px;
  border-bottom: 2px dashed var(--text-color);
}

.header .navbar {
  display: flex;
  list-style: none;
  width: 500px;
  position: absolute;
  right: 180px;
}

.header .navbar li a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 100px;
  font-size: 20px;
  padding-bottom: 3px;
}

.skew1 {
  background-color: var(--main-color);
  transform: skew(0deg, -5deg) translateY(-60px);
}

.skew1 .content {
  display: grid;
  margin-top: 10vh;
  margin-left: 3vw;
  color: var(--text-color);
  width: 55vw;
  transform: skew(0deg, 5deg);
}

.skew1 .content h3 {
  font-size: 35px;
}

.skew1 .content p{
  margin-top: 3vh;
}

.skew1 .content button {
  width: 10vw;
  height: 5vh;
  margin-top: 5vh;
  margin-bottom: 15vh;
  background-color: var(--main-color);
  border: 2px solid var(--text-color);
  border-radius: 5px;
  outline: none;
  cursor: pointer
}

.skew1 .content button:focus {
  transform: scale(0.98);
}

.skew1 .content button a {
  color: var(--text-color);
  font-size: 16px;
  text-decoration: none;
}

.skew2 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skew2 .container2 {
  margin-top: 7vh;
}

.skew2 .container2 .icons {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skew2 .container2 .icons .icon1 {
  display: flex;
  margin: 0 50px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 150px;
}

.skew2 .container2 .icons .icon1 span{
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  color: var(--main-color);
  margin: 5px 0;
}

.skew2 .container2 .icons .icon1 i {
  font-size: 50px;
}

.skew2 .container2 .icons .icon1 .counter{
  font-family: "Roboto Mono", sans-serif;
  font-size: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  position: absolute;
  top: 20vh;
  right: 100px;
  width: 30vw;
  height: 50vh;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  box-shadow: -3px 3px 15px grey;
  background-color: white;
}

form .content {
  margin-top: 40px;
}

form .content label {
  margin-left: 20px;
}

form .content input {
  width: 90%;
  display: grid;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 16px;
  padding: 7px;
  border: 2px solid rgb(184, 180, 180);
  border-radius: 5px;
}

form .content .block2, .block3 {
  margin-top: 20px;
}

form .content .button input{
  background-color: var(--main-color);
  margin-top: 30px;
  height: 7vh;
  color: var(--text-color);
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

form .content .button input:focus {
  transform: scale(0.97);
}

@media(max-width: 580px) {
  body {
    overflow-x: hidden;
    position: relative;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header .navbar {
    display: none;
  }

  .skew1 {
    height: 100vh;
  }

  .skew1 .content {
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .skew1 .content button {
    width: 150px;
    margin-top: 15px;
  }

  .skew2 {
    width: 100%;
  }

  .skew2 .container2 {
    margin: 80px 0;
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .skew2 .container2 p {
    width: 110%;
    text-align: center;
  }

  .skew2 .container2 .icons {
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
  }

  .skew2 .container2 .icons .icon1 {
    margin: 10px 20px;

  }

  .skew2 .container2 .icons .icon1 i {
    font-size: 40px;
  }

  .skew2 .container2 .icons .icon1 .counter {
    font-size: 20px;
  }

  .skew2 .container2 .icons .icon1 span {
    font-size: 16px;
  }

  form {
    position: absolute;
    top: 400px;
    left: 50px;
    width: 80%;
  }
}